---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Hogar</a>
        <a href="/about/">Nosotros</a>
        <a href="/blog/">Blog</a>
		<h1>Somos nosotros...</h1>
        <h2>los pibes...</h2>

        <p>Este es un sitio de prueba para blogs hecho con Astro</p>
        <p>No hay mucho por ahora</p>
        <p>pero habra mas adelante</p>
	</body>
</html>
